body {
  min-height: 3000px;
}
.jumbotron {
  padding-top: 5rem;
  background-color: #47df4e;
}
#projects {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
footer {
  padding-top: 3rem;
}
